{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page %}
    <!-- Main container -->
    <main>

        <!-- Page links -->
        <div class="page-links">
            <div class="container">
                <div class="pull-left">
                    <ul class="link-list">
                        <li><a class="active" href="setting-profile.html">Profile</a></li>
                        <li><a href="{% url 'social_settings' %}">Social medias</a></li>
                        <li><a href="../../theShots/templates/setting-notification.html">Notification</a></li>
                        <li><a href="../../theShots/templates/setting-security.html">Security</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END Page links -->

        <section class="no-border-bottom section-sm">
            <div class="container">
                <header class="section-header">
                    <span>Settings</span>
                    <h3>Profile settings</h3>
                    <p>Change your name, avatar, location, description, etc.</p>
                </header>

                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <h6>Profile</h6>
                            </div>

                            <div class="card-block">
                                <form method="post" class="form-horizontal">
                                    {% csrf_token %}

                                    {% for field in form %}
                                        {% if forloop.counter == 3 %}
                                            <div class="form-group">
                                                <label
                                                       class="col-sm-2 control-label">{{ field.label }}</label>
                                                <div class="col-sm-10">
                                                    {% render_field field class="form-control input-lg" placeholder=field.label %}
                                                </div>
                                                <br>
                                                {% if field.errors %}
                                                    {% for msg in field.errors %}
                                                        <span style="color: white;" class="text-danger">{{ msg }}</span>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <hr>
                                        {% else %}
                                            <div class="form-group">
                                                <label for="input1"
                                                       class="col-sm-2 control-label">{{ field.label }}</label>
                                                <div class="col-sm-10">
                                                    {% render_field field class="form-control input-lg" placeholder=field.label %}
                                                </div>
                                                <br>
                                                {% if field.errors %}
                                                    {% for msg in field.errors %}
                                                        <span style="color: white;" class="text-danger">{{ msg }}</span>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>

                                        {% endif %}

                                    {% endfor %}


                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-primary btn-sm" name="settings" type="submit">Save changes</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <h6>Avatar</h6>
                            </div>

                            <div class="card-block">
                                <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                    {% for field in image_form %}
              {% render_field field   %}
{#                                        <input type="file" class="dropify" data-default-file="{{ request.user.get_image }}"#}
{#                                           data-max-height="150" data-max-width="150">#}
                                    {% endfor %}

                                    <br>
                                    <button name="image" class="btn btn-primary btn-sm" type="submit">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main>
    <!-- END Main container -->



{% endblock %}
{% block script %}


{% endblock %}
