{% extends 'base.html' %}

{% block page %}
    <!-- Main container -->
<main>

    <!-- About -->
    <section class="bg-white">
        <div class="container">
            <header class="section-header">
                <span>{{ about.title }}</span>
                <h2>{{ about.subtitle }}</h2>
                <p>{{ about.subtext }}</p>
            </header>

            {{ about.text|safe   }}

        </div>
    </section>
    <!-- END About -->


    <!-- Team -->
    <section class="no-border-bottom">
        <div class="container">
            <header class="section-header">
                <span>{{ about_team.title }}</span>
                <h2>{{ about_team.subtitle }}</h2>
                <p>{{ about_team.text }}</p>
            </header>

            <div class="row equal-blocks">
                {% for field in team %}
                    <!-- User widget -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="card user-widget">
                        <div class="card-block text-center">
                            <a href="user-profile.html"><img src="{{ field.image.url }}" alt="avatar"></a>
                            <h5><a href="#">{{ field.name }}</a></h5>
                            <p class="lead">{{ field.mission }}</p>
                            <br>
                            <p class="text-justify">{{ field.about }}</p>
                        </div>

                        <div class="card-footer">
                            <ul class="social-icons">
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END User widget -->


                {% endfor %}



            </div>

        </div>
    </section>
    <!-- END Team -->

</main>
<!-- END Main container -->


{% endblock %}
