<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="theshots is a directory listing template.">
    <meta name="keywords" content="">

    <title>Insta Tech - Gallery</title>

    <!-- Styles -->
    <link href="assets/css/app.min.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700'
          rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="icon" href="assets/img/favicon.ico">
</head>

<body class="sticky-nav">

<!-- Navigation bar -->
<nav class="navbar">
    <div class="container">

        <!-- Logo and navigation links -->
        <div class="pull-left">
            <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

            <div class="logo">
                <a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
            </div>

            <ul class="nav-menu">
                <li>
                    <a href="index.html">Home</a>
                    <ul>
                        <li><a href="index.html">Version 1</a></li>
                        <li><a href="index2.html">Version 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Explore</a>
                    <ul>
                        <li><a href="explore-style1.html">Style 1</a></li>
                        <li><a href="explore-style2.html">Style 2</a></li>
                        <li><a href="explore-style3-cols4.html">Style 3 - Cols 4</a></li>
                        <li><a href="explore-style3-cols3.html">Style 3 - Cols 3</a></li>
                        <li><a href="explore-style3-cols2.html">Style 3 - Cols 2</a></li>
                    </ul>
                </li>
                <li>
                    <a class="active" href="#">Pages</a>
                    <ul>
                        <li><a href="shot-add.html">Add Shot</a></li>
                        <li><a href="shot.html">Shot - Image</a></li>
                        <li><a class="active" href="shot-gallery.html">Shot - Gallery</a></li>
                        <li><a href="page-about.html">About</a></li>
                        <li><a href="page-contact.html">Contact</a></li>
                        <li><a href="page-faq.html">FAQ</a></li>
                        <li><a href="page-search.html">Search</a></li>
                        <li><a href="page-typography.html">Typography</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">User account</a>
                    <ul>
                        <li><a href="user-profile.html">Profile</a></li>
                        <li><a href="user-followers.html">Followers - 1</a></li>
                        <li><a href="user-followers-2.html">Followers - 2</a></li>
                        <li><a href="../../userApp/templates/setting-profile.html">Settings</a></li>
                        <li><a href="user-login.html">Login</a></li>
                        <li><a href="user-register.html">Register</a></li>
                        <li><a href="user-forget-pass.html">Forget pass</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- END Logo and navigation links -->

        <!-- User account and action buttons -->
        <div class="pull-right">
            <a class="btn-navbar search-opener" href="#"><i class="ti-search"></i></a>
            <a class="btn-navbar" href="shot-add.html"><i class="ti-plus"></i></a>

            <div class="dropdown user-account">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="assets/img/avatar-2.jpg" alt="avatar">
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="user-profile.html">Profile</a></li>
                    <li><a href="../../userApp/templates/setting-profile.html">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>

        </div>
        <!-- END User account and action buttons -->

        <!-- Search screen -->
        <div class="search-screen closed">
            <button class="search-closer"><i class="ti-close"></i></button>
            <form class="search-form" action="http://thetheme.io/theshots/page-search.html">
                <input type="text" autocomplete="off" placeholder="Type to search...">
            </form>
        </div>
        <!-- END Search screen -->

    </div>
</nav>
<!-- END Navigation bar -->


<!-- Main container -->
<main>

    <section class="no-border-bottom">
        <div class="container">
            <header class="section-header">
                <h3>Facebook Groups Marketing Site</h3>
                <p>Posted on 31 Jan, 2016 for <a href="user-profile.html">Facebook</a></p>
            </header>

            <div class="row">
                <div class="col-xs-12 col-md-8">

                    <!-- Shot and details -->
                    <div class="card no-margin-top">
                        <div class="card-block">

                            <ul class="image-gallery">
                                <li data-thumb="assets/img/shot-big-1-thumb.jpg" data-src="assets/img/shot-big-1.jpg">
                                    <img src="assets/img/shot-big-1-thumb.jpg" alt="thumb">
                                </li>

                                <li data-thumb="assets/img/shot-big-2-thumb.jpg" data-src="assets/img/shot-big-2.jpg">
                                    <img src="assets/img/shot-big-2-thumb.jpg" alt="thumb">
                                </li>

                                <li data-thumb="assets/img/shot-big-3-thumb.jpg" data-src="assets/img/shot-big-3.jpg">
                                    <img src="assets/img/shot-big-3-thumb.jpg" alt="thumb">
                                </li>

                                <li data-thumb="assets/img/shot-big-4-thumb.jpg" data-src="assets/img/shot-big-4.jpg">
                                    <img src="assets/img/shot-big-4-thumb.jpg" alt="thumb">
                                </li>
                            </ul>

                            <hr>

                            <p>New marketing site for Facebook Groups. We are excited to start publishing stories about
                                great groups and provide useful tips to group admins and members.</p>

                            <p>Ut pulvinar libero tortor, laoreet suscipit tellus varius nec. In tristique pretium leo
                                sed accumsan. Mauris ac ex lectus. Fusce vitae imperdiet diam. In imperdiet orci lectus,
                                in pharetra ligula consectetur in. Curabitur pulvinar elit eu nisi bibendum laoreet.
                                Integer vel est convallis, commodo nisl porttitor, feugiat nisl. Proin condimentum
                                condimentum lorem a semper.</p>

                        </div>
                    </div>
                    <!-- END Shot and details -->


                    <!-- Comments -->
                    <div id="comments" class="card">
                        <div class="card-header">
                            <h6>Comments (45)</h6>

                            <div class="comment-pagination">
                                <a class="prev" href="#"><i class="ti-angle-left"></i></a>
                                <a class="next" href="#"><i class="ti-angle-right"></i></a>
                            </div>
                        </div>

                        <ul class="comments">
                            <li>
                                <a href="user-profile.html"><img src="assets/img/avatar-1.jpg" alt=""></a>
                                <h6><a href="user-profile.html">Jose</a>
                                    <time datetime="2016-02-04 22:30">14 hours ago</time>
                                </h6>
                                <p>Nam tincidunt diam id nisl accumsan molestie.</p>
                            </li>

                            <li>
                                <a href="user-profile.html"><img src="assets/img/avatar-5.jpg" alt=""></a>
                                <h6><a href="user-profile.html">Dumduri</a>
                                    <time datetime="2016-02-04 22:30">1 days ago</time>
                                </h6>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    Praesent scelerisque porta bibendum. Mauris ac libero convallis, facilisis diam
                                    quis, porta lorem. Aenean suscipit risus a faucibus porta.</p>
                            </li>


                            <li>
                                <a href="user-profile.html"><img src="assets/img/avatar-1.jpg" alt=""></a>
                                <h6><a href="user-profile.html">Jose</a>
                                    <time datetime="2016-02-04 22:30">1 week ago</time>
                                </h6>
                                <p>Ut pulvinar libero tortor, laoreet suscipit tellus varius nec. In tristique pretium
                                    leo sed accumsan. Mauris ac ex lectus. Fusce vitae imperdiet diam.</p>
                            </li>

                            <li>
                                <a href="user-profile.html"><img src="assets/img/avatar-5.jpg" alt=""></a>
                                <h6><a href="user-profile.html">Dumduri</a>
                                    <time datetime="2016-02-04 22:30">1 week ago</time>
                                </h6>
                                <p>Ut pulvinar libero tortor, laoreet suscipit tellus varius nec. In tristique pretium
                                    leo sed accumsan.</p>
                            </li>

                            <li>
                                <a href="user-profile.html"><img src="assets/img/avatar-3.jpg" alt=""></a>
                                <h6><a href="user-profile.html">Mary</a>
                                    <time datetime="2016-02-04 22:30">2 weeks ago</time>
                                </h6>
                                <p>Ut pulvinar libero tortor, laoreet suscipit tellus varius nec. Mauris ac ex lectus.
                                    Fusce vitae imperdiet diam.</p>
                            </li>
                        </ul>

                        <form class="comment-form">
                            <img src="assets/img/avatar-2.jpg" alt="">
                            <p><input type="text" class="form-control" placeholder="Leave a comment..."></p>
                        </form>

                    </div>
                    <!-- END Comments -->

                </div>

                <aside class="col-xs-12 col-md-4 shot-sidebar">
                    <!-- User widget -->
                    <div class="sidebar-block">
                        <div class="shot-by-widget">
                            <a href="user-profile.html"><img src="assets/img/avatar-4.jpg" alt="avatar"></a>
                            <a class="username" href="user-profile.html">Facebook</a>
                            <p class="title">Social company</p>
                            <p class="subtitle">Ut pulvinar libero tortor, laoreet suscipit tellus varius nec.</p>

                            <ul class="user-stats">
                                <li><a href="user-profile.html"><i>Shots</i><span>125</span></a></li>
                                <li><a href="user-followers.html"><i>Followers</i><span>2.3K</span></a></li>
                                <li><a href="user-followers.html"><i>Following</i><span>279</span></a></li>
                            </ul>

                            <a class="btn btn-success btn-outline btn-sm" href="#">Follow</a>
                        </div>
                    </div>
                    <!-- END User widget -->


                    <!-- Shot stats -->
                    <div class="sidebar-block">
                        <ul class="single-shot-stats">
                            <li><i class="fa fa-eye"></i><span>658</span></li>
                            <li><a class="like" href="#"><i class="fa fa-heart"></i><span>189</span></a></li>
                        </ul>
                    </div>
                    <!-- END Shot stats -->


                    <!-- Details -->
                    <div class="sidebar-block">
                        <h6>Details</h6>
                        <dl class="half-half">
                            <dt>Size</dt>
                            <dd>5472 x 3648</dd>

                            <dt>File size</dt>
                            <dd>1.1 MB</dd>

                            <dt>File type</dt>
                            <dd>Jpeg</dd>

                            <dt>Aspect Ratio</dt>
                            <dd>4:3</dd>

                            <dt>Location</dt>
                            <dd>Denmark</dd>

                            <dt>License</dt>
                            <dd>GPL</dd>

                        </dl>
                    </div>
                    <!-- END Details -->


                    <!-- Tags -->
                    <div class="sidebar-block">
                        <h6>Tags</h6>
                        <div class="tag-list">
                            <a href="#">Website</a>
                            <a href="#">Social</a>
                            <a href="#">App</a>
                            <a href="#">Light design</a>
                            <a href="#">Blue</a>
                            <a href="#">Pages</a>
                            <a href="#">Facebook</a>
                        </div>
                    </div>
                    <!-- END Tags -->


                    <!-- Share -->
                    <div class="sidebar-block">
                        <h6>Share on</h6>
                        <ul class="social-icons text-center">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- END Share -->


                    <!-- More shots -->
                    <div class="sidebar-block">
                        <h6>More from Facebook</h6>
                        <ul class="photo-list cols-2">
                            <li><a href="#"><img src="assets/img/shot-3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/shot-4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/shot-7.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/shot-6.jpg" alt=""></a></li>
                        </ul>
                    </div>
                    <!-- END More shots -->


                </aside>
            </div>

        </div>
    </section>

</main>
<!-- END Main container -->


<!-- Site footer -->
<footer class="site-footer">

    <!-- Top section -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <h6>About</h6>
                <p class="text-justify"><strong>TheShots</strong> is a powerful, responsive, and high-performance image
                    listing template. It's based on Bootstrap and contains a lot of components to easily make an image
                    listing website. This template comes with a simple yet beautiful design which focused on ease of use
                    for users. Take a tour in the website and check our intensive <a
                            href="http://shamsoft.net/theshots/docs" target="_blank">online documentation</a> before
                    make a purchuse!</p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-2">
                <h6>Company</h6>
                <ul class="footer-links">
                    <li><a href="page-about.html">About us</a></li>
                    <li><a href="page-typography.html">How it works</a></li>
                    <li><a href="page-typography.html">Terms of use</a></li>
                    <li><a href="page-typography.html">Privacy policy</a></li>
                    <li><a href="page-contact.html">Contact us</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-2">
                <h6>Support</h6>
                <ul class="footer-links">
                    <li><a href="page-faq.html">Help center</a></li>
                    <li><a href="#">Tutorials</a></li>
                    <li><a href="#">Forums</a></li>
                    <li><a href="#">Official blog</a></li>
                    <li><a href="#">Ask question</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <h6>Newsletter</h6>
                <p><strong>Subscribe</strong> to our newsletter to receive news, updates, and special offers:</p>
                <br>
                <input type="text" class="form-control" placeholder="Enter your email address">
                <button class="btn btn-primary btn-sm btn-block" type="button"><i class="fa fa-paper-plane"></i>
                    Subscribe
                </button>
            </div>
        </div>

        <hr>
    </div>
    <!-- END Top section -->

    <!-- Bottom section -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyrights &copy; 2016 All Rights Reserved by <a
                        href="http://themeforest.net/user/shamsoft">ShaMSofT</a>.</p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END Bottom section -->

</footer>
<!-- END Site footer -->


<!-- Back to top button -->
<a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
<!-- END Back to top button -->


<!-- Scripts -->
<script src="assets/js/app.min.js"></script>
<script src="assets/js/custom.js"></script>


</body>

</html>
